.downloads {
    text-align: center;
    background-color: var(--beige);
    padding: var(--gutter);
    max-width: var(--home-width);
    margin: 0 auto;
    p {
        max-width: 790px;
        margin: 0 auto;
    }

    h2{
        font-weight: 800;
    }

    h2 + p {
        margin-bottom: 2em;
    }

    p{
        font-size: 1.5rem;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1.6em;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5em;
        li {
            flex: 0 0 300px;
            transition-property: transform;
            overflow: hidden;
        }
        a {
            color: white;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            text-decoration: none;
            aspect-ratio: 296/298;
            padding: 1em;
            font-size: 1.8rem;
            background-image: var(--bg-image);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            transition-property: transform;
            transition-duration: 0.3s;
            span {
                display: inline-block;
                transition-property: transform;
                will-change: transform;
            }
        }
        @media (hover: hover) {
            li:hover {
                a {
                    transform: scale(150%);
                    color: black;
                }
                a span {
                    transform: scale(65%);
                    font-weight: 800;
                    color: #ffffff;
                    // text-decoration: underline;
                    // transform: translateY(-600%);
                    // animation: floatUp 0.3s ease-in-out 0.1s 1 forwards;
                    &::before{
                        content: 'Download\a';
                        white-space: pre;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .downloads-mobile{
        margin-top: 101px;
    }
}


@keyframes floatUp {
    from {
        transform: skewY(0deg);

    }
    50% {
        transform:  skewY(20deg);
    }
    to {
        transform: skewY(0deg) translateY(-600%);
    }
}