.text-body{
    background-color: var(--beige);
}

.nav-block {
    background-color: var(--beige);
    padding: var(--gutter);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: calc(2 * var(--gutter));
    max-width: var(--home-width);
    margin: 0 auto;

    &:has(> div:last-child) {
        justify-content: flex-start;
    }
    &:has(> div:first-child) {
        justify-content: flex-end;
    }

    > div {
        flex: 0 0 550px;
        display: flex;
        flex-flow: column;
        padding-right: var(--gutter);
        font-size: 1.5rem;
        max-width: 100%;
    }

    h2 {
        margin: 0 0 0em;
        position: relative;
        font-weight: 800;
        img {
            position: absolute;
            bottom: 0.9em;
            right: -5.5rem;
            width: 11rem;
            height: auto;
        }        
    }

    // .arrow{
    //     svg{
    //         animation: arrowMove 1s linear infinite forwards;
    //     }
    // }

    // .waving{
    //     svg{
    //         animation: waveRotate 2s linear infinite forwards;

    //     }
    // }

    img {
        flex: 1 1 0;
        width: 400px;
        max-width: 700px;

    }

    @media screen and (max-width: 768px) {
        h2 img {
            right: 0;
            width: 4rem;
        }
    }
}

// @keyframes arrowMove {
//     0%{
//         transform: translateX(0);
//     }
//     50%{
//         transform: translateX(-50px);
//     }
//     100%{
//         transform: translateX(0);
//     }
// }

// @keyframes waveRotate{
//     0%{
//         transform: rotate(0deg);
//     }
//     50%{
//         transform: rotate(-30deg);
//     }
//     100%{
//         transform: rotate(0deg);
//     }
// }

@media only screen and (max-width: 768px) {
    .nav-block{
        img {
            flex: 1 1 0;
            width: 400px;
            max-width: 85vw !important;
        }
    }
}