*, *::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    transition-property: none;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @media (prefers-reduced-motion: reduce) {
        transition-duration: 0s !important;
    }
}

picture {
    display: contents;
    source {
        display: none;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    -webkit-appearance: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 1em 0;
}

a {
    color: inherit;
}

.wp-block-image figcaption {
    text-align: left !important;
}

.wp-block-video figcaption {
    text-align: left !important;
}

.remove-bottom-margin{
    margin-bottom: 0 !important;
}

.remove-top-margin{
    margin-top: 0 !important;
}

.make-list-marker-bold::marker{
    font-weight: bold;
}

.mobile-h3-size{
    @media only screen and (max-width: 768px) {
        font-size: 3rem !important;
    }
}

.mobile-h2-size{
    @media only screen and (max-width: 768px) {
        font-size: 2.5rem !important;
    }
}

.p-line-height{
    line-height: 1.5;
}

.center{
    img{
        margin: 0 auto;
    }
}
