:root {
    --beige: #E6DACE;
    --orange: #FF8256;
    --black: #000000;
}

html body {
    --wp--preset--font-size--small: 1rem;
    --wp--preset--font-size--medium: 1.5rem;
    --wp--preset--font-size--large: 2rem;
    --wp--preset--font-size--x-large: 3rem;
}

html{
    width: auto!important; 
    overflow-x: hidden!important;
    scroll-behavior: smooth !important;
}

:root {
    --gutter: 4.375rem;
    --narrow: 880px;
    --home-width: 1500px;
    --h2: 6.25rem;
    --h2-lh: 1.02;
    --h4: 1.5rem;
    --h4-lh:1.33;

    @media screen and (max-width: 925px) {
        --h2: 4rem;
    }

    @media only screen and (max-width: 768px) {
        --h2: 3rem;
        --h2-lh: 1;
    }

    @media screen and (max-width: 600px) {
        --gutter: 2rem;
    }
}

:root {
    --system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}