header {
    .desktop-nav {
        background-color: var(--beige);
        padding: 2.25rem var(--gutter);
        display: flex;
        align-items: center;
        gap: 2rem;
        > ul {
            display: flex;
            justify-content: center;
            gap: 5.3125rem;
            width: 600px;
            max-width: 100%;

            ul {
                position: absolute;
                opacity: 0;
                pointer-events: none;
                background-color: #FFCF53;
                padding: 1em;
                border-radius: 0.4rem;
                z-index: 2;
                display: flex;
                flex-flow: column;
                gap: 0.5em;
                margin-left: 1ex;
                margin-top: -0;
                transform-origin: top right;
                transition-property: opacity, transform;
                @media (hover: hover) {
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }

            @media (hover: hover) {
                > li:hover {
                    ul {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }
    }
    .logo {
        img {
            height: 2.75rem;
        }
    }
    ul {
        list-style: none;
        li svg {
            height: 0.5rem;
        }
    }
    a {
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        width: max-content;
        gap: 1em;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .search {
        font-size: 2rem;
        display: contents;
        svg {
            height: 1em;
        }
    }
    .collections {
        margin: 0 2rem 0 auto;
        svg {
            height: 2rem;
        }
    }
}
header{
    .mobile-nav{
        display: none;
        .main-nav{
            background-color: var(--beige);
            padding: 2.25rem var(--gutter);
            display: flex;
            align-items: center;
            gap: 2rem;
            justify-content: space-between;
        }
        
        .links{
            display: none;
            background-color: var(--beige);
            .menu-items{
                > ul {
                    display: flex;
                    max-width: 100%;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 5% 5% 0;
                
                >li:last-child{
                    border-top: 1px solid black;
                    padding-top: 10px;
                    margin-top: 10px;
                    > a{
                        padding-bottom: 5%;
                    }
                }
                    ul {
                        padding-left: 1%;
                        li{
                            padding: 5px 0;
                        }
                        
                        // border: 1px solid black;
                    }
        
                    @media (hover: hover) {
                        > li:hover {
                            ul {
                                opacity: 1;
                                pointer-events: all;
                            }
                        }
                    }
                }
                .bottom-bar{
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;
                    padding: 5% 5%;
                    .collections{
                        margin: 0 !important;
                    }
                }

                .collections {
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    padding: 10px 0 ;
                    width: 100%;
                }

                .search{
                    font-size: 1.25rem;
                    padding-top: 10px;
                    display: flex;
                    svg{
                        font-size: 2rem;
                    }
                }
            } 
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .desktop-nav{
        display: none !important;
    }
    .mobile-nav{
        display: block !important;
    }
}