.page-links {
    background-color: black;
    color: var(--beige);
    padding: 4.625rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    // align-items: center;
    gap: 7.8rem;
    .mobile-link {
        height: 60px;
        margin-top: 1.5vw;
    }
    @media only screen and (max-width: 768px) {
        align-items: center;
        gap: 3rem;
        .mobile-link {
            display: flex;
            flex-direction: row-reverse;
            font-size: 3rem;
            height: 50px;
            margin-top: 0;
        }
        a {
            i {
                float: left;
                line-height: 2.3 !important;
                transform: translateY(-25px);
            }
            span{
                padding-left: 0 !important;
            }
            &:first-child {
                i {
                    transform: translate(-7px, -25px);
                }
            }
        }
        
    }
    a {
        text-decoration: none;
        font-size: 3.5rem;
        font-family: 'Sombra', var(--system);
        line-height: 1;
        margin-top: -24px;
        @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        span {
            font-size: 1.5rem;
            font-family:'neue-haas-grotesk-display', var(--system);
            padding-left: 35px;
            height: 0;
        }
        i {
            float: left;
            line-height: 2;
            transform: translateY(-25px);
        }
        &:first-child {
            i {
                float: right;
            }
        }
        
        &:last-child {
            // padding-top: 2rem;
        }
    }

    

    divider {
        width: 1px;
        height: 125px;
        background-color: white;
        @media only screen and (max-width: 768px) {
            width: 100%;
            height: 1px;
        }
    }

    a + divider + a{
        flex: none;
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
    }

    spacer, divider + a {
        flex: 1 1 0;
        @media only screen and (max-width: 768px) {
            flex: none;
        }
    }

    .right-spacer{
        flex: none;
        width: 20vw
    }

    .left-link{
        @media only screen and (min-width: 768px) {
            width: 400px;
        }
        
        div{
            float: right;
            max-height: 100%;
            flex: 1 1 0
            // padding-left: 100%
        }
        span{
            padding-left: 13px;
        }
        @media only screen and (max-width: 768px) {
            flex: none;
        }
    }
    
}

.page-hero {
    display: grid;
    grid-template-columns: 100%;
    color: white;
    position: relative;
    z-index: 1;
    img,h1 {
        grid-area: 1/1;
    }
    h1 {
        align-self: center;
        width: var(--narrow);
        max-width: 100%;
        margin: 0 auto;
        font-size: var(--h2);
        line-height: var(--h2-lh);
        font-weight: 900;
    }
    figure {
        position: absolute;
        top: var(--pos-y);
        left: var(--pos-x);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

main {
    width: var(--narrow);
    max-width: 100%;
    margin: 0;
    z-index: 1;
}

.inner {
    display: flex;
    background-color: var(--beige);
    padding: 5.75rem var(--gutter) 5.75rem;
    position: relative;
    // z-index: 0;
}

aside {
    // flex: 0 0 calc((100vw - var(--narrow)) / 2);
    width: calc(((100vw - var(--narrow)) / 2) - var(--gutter));
    position: sticky;
    top: 3rem;
    left: 0;
    padding: 0 var(--gutter) 0 0;
    align-self: flex-start;
    @media only screen and (max-width: 1200px) {
        display: none;
    }
    a {
        text-decoration: none;
        @media (hover:hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    ul {
        list-style: none;
    }

    > ul > li {
        padding: 2ex 0;
        > a {
            font-weight: 750;
        }
        &:not(:first-child) {
            border-top: 1px solid black;
        }
        &.current-menu-item > a {
            text-decoration: underline;
        }
        ul {
            li {
                padding: 1ex 0;
            }
            li:first-child{
                padding-top: 2ex;
            }
        }
    }
}

.underline-title{
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .page-hero{
        height: 25vw;
        margin-top: 101px;
        h1{
            padding: 5% 0 5% 5%;
        }
        figure{
            --pos-y: 12vh !important;
            > svg {
                height: 10vw;
                width: auto;
            }
        }
    }
}