{% extends "base.twig" %}

{% block content %}
	{% include "page/hero.twig" %}
	<div class='inner'>
		{% include "page/navigation.twig" %}
		<main>
			{{post.content}}
		</main>
		
	</div>
    {% include "page/footer-links.twig" %}
{% endblock %}

